/* ----------------- General */
html {
    background: linear-gradient(#21c08b, #ab88ff);
    overflow-x: hidden;
}

body {
    font-family: "Mulish", sans-serif;
    margin: 0;
}

  /* ----------------- Nav */
.header {
    align-items: center;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header__img {
    margin-left: 30px;
    width: 200px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 0px;
    position: absolute;
    text-align: right;
    width: 100px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}

/* ----------------- Main */
.main {
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
}

.main__title {
    color: white;
    font-size: 25px;
}

.main__input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
}

::placeholder {
    color: white;
}

.categories__title {
    font-size: 16px;
    color: white;
    padding-left: 30px;
    position: absolute;
    width: 100%;
}

.carousel {
    overflow: scroll;
    padding: 0 5%;
    position: relative;
    width: 100%;
}

.carousel__container {
    font-size: 0px;
    margin: 70px 0px;
    padding-bottom: 10px;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    white-space: nowrap;
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.carousel-item {
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 250px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    transition: 450ms all;
    width: 200px;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.carousel-item:hover ~ .carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.carousel-item__img {
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 200px;
}

.carousel-item__details {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 450ms opacity;
}

.carousel-item__details:hover {
    opacity: 1;
}

.carousel-item__details img {
    width: 20px;
}

.carousel-item:hover .carousel-item__details {
    opacity: 1;
}

.carousel-item__details--title {
    color: white;
    margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}

/* ----------------- Footer */
.footer {
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* ----------------- Scrollbar */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

::-webkit-scrollbar:hover {
    background: #ffffff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar:hover:active {
    background: #999;
}

/* ----------------- Mobile */
@media only screen and (max-width: 600px) {
    .main__title {
        text-align: center;
    }
    .main__description--title {
        font-size: 30px;
    }

    .footer {
        align-items: flex-start;
        flex-direction: column;
        padding: 3% 0%;
    }
}